.DS_Store
.env
data/
suricata-update/update/
zeek-intel/*
input_files/
packages/
corelight-update/configs/defaultPolicy/local-input
corelight-update/configs/defaultPolicy/db-config.yaml
corelight-update/files/
corelight-update/working/
corelight-update/global.yaml
local.zeek